tensorflow-macos~=2.14.0 # needed for MacOS (M1/M2)
tensorflow-metal~=1.1.0 # Metal plugin for GPU acceleration on macOS
keras~=2.14.0
matplotlib
numpy
pyqt5
scikit-learn
visualkeras
tensorboard
keras-visualizer
